/**做全局样式配置*/
$br-header-bg = #242f42 //系统头部header的背景颜色

$br-menu-bg = rgb(50, 65, 87) //菜单的背景颜色
$br-menu-color = #fff //菜单字体颜色
$br-menu-active-color = #409ff //菜单选中的字体颜色
$br-menu-font-size = 14px //菜单字体大小

/**系统颜色配置*/
$br-main-color = #1a4aa3 //主要颜色
$br-hover-color = #0a317a //hover颜色
$br-active-color = #f6f8fa //导航选中

$br-warning-color = #fb7686 //警告颜色
$br-warning-bg = #fff2f2 //警告背景色

$br-tips-bg = #e9edf6 //提示背景色
$br-form-color = #c3cad8 //表单框颜色

//字体颜色
$br-font-color = #333333 //正文字体颜色
$br-font-auxiliary-color = #666666 //辅助字体颜色
$br-font-tips-color = #c3cad8 //提示字体颜色
$br-font-warning-color = #fb7686 //警告文字颜色
$br-font-href-color = #1a4aa3 //链接字体颜色
